body {
	background-image: url("../images/outerspace_landscape.jpeg");
	background-size:100%;
	background-repeat: no-repeat;
}
nav {
	background-color:grey;
	height:70px;
	margin:0px;
	padding:0px;
	position:fixed;
	width:100%;
	top:0px;
}
nav img {
	float: left;
	position: relative;
	border:1px solid black;
	border-radius: 25px;
	height:50px;
	width:50px;
	margin: 10px 60px;
}
ul {
	float: left;
	position: relative;
	top: 10px;
	padding: 0px;
}
li {
	display: inline-block;
	float:left;
}
li:after{
	content:" |\00A0";
}
.dotted.box {
	position:relative;
	border: 10px dotted green;
	width: 600px;
	height: 300px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 200px;
}
.dotted.box img {
	width:200px;
	height:200px;
}
.dotted.box div {
	position:absolute;
}
.cat {
	top:-100px;
	left:-100px;
}
.dog {
	top:200px;
	left:450px;
}